/* 드롭다운 메뉴 */
.dropdown {
  position: relative;
}

.dropdown-main {
  text-decoration: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 0 1rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  vertical-align: middle;
}
.dropdown-main:hover {
  background-color: rgba(46, 139, 87, 0.1);
  transform: scale(1.05);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2); /* 8px 16px → 0.5rem 1rem */
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  z-index: 1000;
}

.dropdown-item {
  color: #333;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 80%;
  text-align: center;
  border-radius: 0.5rem;
}

.dropdown-item:hover {
  background-color: rgba(46, 139, 87, 0.1);
  color: rgba(46, 139, 87, 1);
}

.dropdown:hover .dropdown-content {
  display: block;
}
