.header {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1em;
  border-bottom: 3px solid rgba(46, 139, 87, 0.4);
}

.header a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  padding: 0.5em 0;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  vertical-align: middle;
}

.header a:hover {
  background-color: rgba(46, 139, 87, 0.1);
  transform: scale(1.05);
}


